.App {
  text-align: center;
  display: flex;
  min-height: auto;
  justify-content: center;
  color: white;
  width: auto;
  
}

.swingback {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.swingback:hover {
  color: lightslategray;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  padding: 5vmin 0;
 
}

.auth-form-container {
  max-width: auto;
  margin: 10vmin 0;
}

label {
  text-align: left;
}

input {
  margin: 0.25rem 0 0.75rem 0;
  border: none;
  padding: 0.65rem;
  border-radius: 3px;
}

button {
  border: none;
  background-color: #FDF5F2;
  padding: 0.65rem;
  border-radius: 3px;  
  cursor: pointer;
}

.strawberry-button {
  color: #EB5757;
}

.strawberry-button:hover {
  background-color: #FBEBE8;
}

.link-btn {
  background: none;
  color: white;
}

.link-btn:hover {
  background-color: none;
  color: lightslategray;
}